body{
    text-align: left;
    margin-left: 2px;
}

#logo{
    padding-top: 50px;
    padding-right: 80%;
    padding-bottom: 10px;
    background-image: url(../img/pattern.png);
    background-color: #186ecf;
    background-repeat: repeat;
    background-;
}

h1{
    padding-top: 20px;
    font-size: 40px;
}

.class-blue{
    color: rgb(68, 68, 236);
}

.grey{
    color: grey;
}

.sezione2{
    margin-top: 30px;
    margin-left: 2px;
}
.testo-foto{
    font-size: 13px;
}

thead{
    background-color: rgb(45, 45, 170);
    color: white;

}

.sfondo-azzurro{
    background-color: rgb(50, 171, 211);
}
td{
    padding: 10px;
}
.col1{
    width: 30%;
}
.immagine1{
    color: white;
    background-image: url("../img/monitor.jpg");
    height: 200px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.immagine2{
    color: white;
    background-image: url("../img/graph.jpg");
    height: 200px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}